body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.with-top-spacer {
    margin-top: 20px;
}

.with-small-top-spacer {
    margin-top: 10px;
}

.with-5-top-spacer {
    margin-top: 5px;
}

.left-border {
    border-left: 1px solid #ddd
}

form .alert {
	padding: 5px;
	margin-bottom: 0px;
}