body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.with-top-spacer {
    margin-top: 20px;
}

.with-small-top-spacer {
    margin-top: 10px;
}

.left-border {
    border-left: 1px solid #ddd
}