<div ng-include src="const.TEMPLATES_ROOT + '/Event/controls.html'"></div>

<table class="table table-striped with-top-spacer">
    <thead>
        <tr>
            <th>{{_$.ItemNumberSign}}</th>
            <th>{{_$.TableColumn.Name}}</th>
            <th>{{_$.TableColumn.Description}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="event in events">
            <td>{{$index + 1}}</td>
            <td>{{event.Name}}</td>
            <td>{{event.Description}}</td>
        </tr>
    </tbody>
</table>